<!doctype html>
<html ng-app="sgtApp">
<head>
    <title>Student Grade Table</title>
    <meta charset="UTF-8">
    <!--Bootstrap-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <!--Angular-->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
    <!--Local-->
    <script src="main-angular.js"></script>
</head>
<body ng-controller="mainController as mc">
    <div class="container col-md-offset-1 col-md-10 col-sm-12 col-sm-offset-0">
        <!--Main Header-->
        <div class="header">
            <!-- only show this element when it isn't on mobile -->
            <h1 class="hidden-xs page-header">Student Grade Table
                <small class="pull-right">Grade Average :
                    <span class="avgGrade label label-default">{{ mc.averageGrade }}</span>
                </small>
            </h1>
            <!-- only show this element when the user gets to a mobile version -->
            <h3 class="visible-xs-block">Student Grade Table
                <small class="pull-right">Grade Average :
                    <span class="avgGrade label label-default">{{ mc.averageGrade }}</span>
                </small>
            </h3>
        </div>
        <!--End Main Header-->
        <!--Data Entry Form-->
        <form ng-submit="mc.submitForm()" class="form-group col-xs-12 col-sm-3 pull-right" id="entry-form">
            <h4>Add Student</h4>
            <div id="student_div" class="input-group">
            <span class="input-group-addon">
                <span id="student_glyphicon" class="glyphicon glyphicon-user"></span>
            </span>
                <input type="text" class="form-control" name="name" id="studentName"
                       placeholder="Student Name" ng-model="mc.newName">
            </div>
            <br>
            <div id="assignment_div" class="input-group">
            <span class="input-group-addon">
                <span id="course_glyphicon" class="glyphicon glyphicon-list-alt"></span>
            </span>
                <input type="text" class="form-control" name="course" id="assignment"
                       placeholder="Assignment" ng-model="mc.newAssignment">
            </div>
            <br>
            <div id="grade_div" class="input-group">
            <span class="input-group-addon">
                <span id="grade_glyphicon" class="glyphicon glyphicon-education"></span>
            </span>
                <input type="number" class="form-control" name="grade" id="studentGrade"
                       placeholder="Student Grade" ng-model="mc.newGrade">
            </div>
            <br>
            <button id="add" type="submit" class="btn btn-success">Add</button>
            <button id="cancel" type="button" class="btn btn-default" ng-click="mc.clearForm()">Cancel</button>
            <!--<button type="button" class="btn btn-info" id="get-data">Get Student Data</button>-->
        </form>
        <!--End Data Entry Form-->
        <!--Report Area-->
        <div class="student-list-container col-xs-12 col-sm-9 pull-left">
            <table class="student-list table">
                <thead>
                    <tr>
                        <th>Student Name
                            <span class="glyphicon glyphicon-chevron-down sort btn" data-column="name"></span>
                        </th>
                        <th>Assignment
                            <span class="glyphicon glyphicon-chevron-down sort btn" data-column="assignment"></span>
                        </th>
                        <th>Student Grade
                            <span class="glyphicon glyphicon-chevron-down sort btn" data-column="grade"></span>
                        </th>
                        <th>Operations
                            <span class="glyphicon glyphicon-remove btn disabled" style="visibility: hidden"></span>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in mc.data">
                        <td>{{ item.name }}</td>
                        <td>{{ item.assignment }}</td>
                        <td>{{ item.grade }}</td>
                        <td>
                            <button type="button" class="btn btn-sm btn-info" data-toggle="modal"
                                    data-target="#{{ mc.detailModalId }}" ng-click="mc.getStudentDetail($index)">Details
                            </button>
                            <button type="button" class="btn btn-sm btn-danger">Delete</button>
                        </td>
                    </tr>
                    <tr>
                        <td>{{ mc.newName }}</td>
                        <td>{{ mc.newAssignment }}</td>
                        <td>{{ mc.newGrade}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!--End Report Area-->
    </div>

    <!--detail modal -->
    <modal header="{{ mc.detailStudent.name }}" modal-id="{{ mc.detailModalId }}">
        <h5 id="info_assignment">Assignment: {{ mc.detailStudent.assignment }}</h5>
        <h5 id="info_grade">Grade: {{ mc.detailStudent.grade }}</h5>
        <button type="button" class="btn btn-danger" data-toggle="modal"
                data-target="#{{ mc.editModalId }}" >Edit</button>
    </modal>
    <!--edit modal-->
    <modal header="Edit Student" modal-id="{{ mc.editModalId }}">
        <input type="text" ng-model="mc.detailStudent.name" id="edit-name" disabled><br>
        <input type="text" ng-model="mc.detailStudent.assignment" id="edit-assignment" disabled><br>
        <input type="text" ng-model="mc.detailStudent.grade" id="edit-grade" disabled><br>
    </modal>
</body>
</html>